.table-reponsive {
    width: 100%;
    overflow-x: auto;
}

.table-cart {
    border-collapse: collapse;
    margin-top: 6px;
    margin-bottom: 60px;
    width: 100%;
    thead {
        tr {
            th {
                border-bottom: 2px solid #dee2e6;
                border-top: 1px solid silver;
                padding: 10px 20px;
            }
        }
    }
    tbody {
        tr {
            td {
                height: 50px;
                vertical-align: middle;
                text-align: center;
            }
        }
        .product {
            &-img {
                &>img {
                    width: 80px;
                }
            }
        }
        .box-close {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background: red;
            color: white;
            border-radius: 999px;
            cursor: pointer;
            margin: 0 auto;
        }
    }
}

.cal {
    &-form {
        &--select {
            border: 1px solid silver;
        }
    }
}