.general-body {
    width: 70%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    background: white;
    box-shadow: 2px 1px 9px 0px #84808059;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    &.mobile,
    &.active {
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    &--left {
        background-image: url("../../../images/login-register/login.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    &--right {
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        background: white;
        .form-check-auth {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            .form-check-input {
                width: 10%;
            }
        }
        .form-bottom {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &>.btn-cancel {
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            top: 12px;
            right: 14px;
        }
        .input-item {
            position: relative;
            margin-top: 30px;
            input {
                padding: 9px 10px;
                padding-left: 42px;
                border-radius: 30px;
                border: 1px solid $yellow_bold;
                width: 100%;
            }
            .icon {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    a.text-form {
        color: $yellow-bold;
        float: right;
        &:hover {
            color: $yellow-bold !important;
        }
    }
}

a.forgot {
    font-size: 15px;
    color: $yellow_bold;
    &:hover {
        color: $yellow_bold !important;
    }
}

.button-form {
    width: 150px;
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
        background: $yellow-bold;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
    }
    span {
        color: white;
        transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
        position: absolute;
    }
    &:hover::before {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    &:hover {
        span {
            transform: translate3d(-10px, 0, 0);
        }
    }
}

.login {
    // opacity: 0;
    // visibility: hidden;
    .list-icon {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        .item-icon {
            font-size: 30px;
            padding-right: 25px;
            &:last-child {
                padding-right: 0;
            }
            svg {
                color: #000000b5 !important;
            }
        }
    }
}

.register {
    &.general-body {
        .general-body--left {
            background-image: url("../../../images/login-register/register.jpg");
        }
    }
}

@media screen and (max-width: 768px) {
    .general-body {
        grid-template-columns: 3fr 4fr;
        &--right {
            margin-top: 0;
        }
    }
}

@media screen and(max-width:500px) {
    .general-body {
        grid-template-columns: repeat(1, 1fr);
        &--left {
            height: 200px;
        }
        &--right {
            padding-left: 0;
            margin-top: 30px;
        }
    }
}