.post {
    margin-top: 30px;
    margin-bottom: 30px;
    &-title {
        &>a {
            font-size: 26px;
            color: black;
            text-transform: capitalize;
            &:hover {
                color: $yellow_bold;
            }
        }
    }
    &-info {
        &--list {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            &__item {
                font-size: 13px;
                padding-right: 10px;
                padding-left: 10px;
                position: relative;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                &:first-child::before {
                    display: none;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1px;
                    height: 100%;
                    border-right: 1px solid #e9e9e9;
                    transform: rotate(27deg);
                }
                &>.icon {
                    color: $yellow_bold;
                    margin-right: 4px;
                }
            }
        }
    }
    &-single {
        padding-top: 30px;
        padding-bottom: 20px;
        &>h5 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &--img {
            height: 100%;
            object-fit: cover;
        }
        &--desc {
            margin-top: 30px;
        }
        blockquote {
            background: #f6f6f6;
            padding: 16px 20px 16px 80px;
            border-left: 4px solid #efbb20;
            font-style: italic;
            position: relative;
            margin-top: 30px;
            margin-bottom: 20px;
            color: gray;
            &::before {
                content: "\f10d";
                font-family: FontAwesome;
                color: #efbb20;
                font-size: 35px;
                position: absolute;
                left: 20px;
                top: 20px;
            }
        }
        &--list {
            padding-bottom: 30px;
            border-bottom: 1px solid #e9e9e9;
            &__img {
                float: left;
                max-width: 400px;
                margin-right: 40px;
            }
            &.two {
                padding-top: 30px;
                &__img {
                    float: right;
                }
            }
        }
        &--tag {
            display: flex;
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            &__list {
                margin-right: 14px;
                border: 1px solid #e9e9e9;
                padding: 5px 10px;
                &>a {
                    color: gray;
                    text-transform: uppercase;
                    font-size: 10px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &--share {
            padding-top: 20px;
            padding-bottom: 20px;
            &__list {
                margin-right: 10px;
                margin-bottom: 10px;
                display: inline-block;
                border-radius: 4px;
                &>a {
                    padding: 5px 10px;
                    color: white;
                    font-size: 12px;
                    display: flex !important;
                    align-items: center;
                    &>.icon {
                        margin-right: 3px;
                    }
                }
                &.faceBook {
                    background: #3b5998;
                }
                &.googlePlus {
                    background: #de4e43;
                }
                &.twitter {
                    background: #1ea1f3;
                }
                &.instagram {
                    background: #8a5a4e;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        &--comment {
            &__list {
                display: flex;
                margin-top: 20px;
                .item--img {
                    margin-right: 30px;
                    &>img {
                        width: 56px;
                        border-radius: 999px;
                    }
                }
                .item--content {
                    padding: 20px;
                    border: 1px solid #e9e9e9;
                    position: relative;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: -12px;
                        top: 23px;
                        width: 20px;
                        height: 20px;
                        background: white;
                        transform: rotate(45deg);
                        border: 1px solid #e9e9e9;
                    }
                    &::after {
                        left: -8px;
                        top: 25px;
                        border: none;
                        width: 33px;
                        background: white;
                        transform: rotate(90deg);
                    }
                    .text-name {
                        font-size: 14px;
                    }
                    .text-date {
                        margin-top: 15px;
                        margin-bottom: 20px;
                        color: #878787;
                    }
                }
            }
        }
        &--reply {
            border: 1px solid #e9e9e9;
            padding: 30px 30px;
            margin-top: 30px;
            .reply-form {
                .form-group {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 30px;
                    &--item {
                        margin-top: 30px;
                        position: relative;
                        &.author {
                            &::before {
                                content: "\f007";
                            }
                        }
                        &.email {
                            &::before {
                                content: "\f0e0";
                            }
                        }
                        &.website {
                            &::before {
                                content: "\f0ac";
                            }
                        }
                        &.comment {
                            &::before {
                                content: "\f086";
                                border-bottom: 1px solid #e1e6eb;
                            }
                        }
                        &::before {
                            font-family: FontAwesome;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 40px;
                            height: 40px;
                            border-right: 1px solid #e1e6eb;
                            color: #b0b0b0;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .form-control {
                            width: 100%;
                            height: 40px;
                            padding: 10px 10px 10px 50px;
                            border: 1px solid #e1e6eb;
                            border-radius: 4px;
                        }
                        &>textarea.form-control {
                            height: 120px;
                        }
                    }
                }
                .click-submit {
                    padding: 10px 20px;
                    background: $yellow_bold;
                    outline: none;
                    border: none;
                    color: white;
                    cursor: pointer;
                    border-radius: 4px;
                    text-transform: uppercase;
                    margin-top: 30px;
                    width: 200px;
                }
            }
        }
    }
}